[user]
	name = Abhinav
	email = abhiraja1012@gmail.com

[alias]
	aliases = !git config --list | grep ^alias\\. | cut -c 7- | grep -Ei --color \"$1\" "#"
	# Add file to repo's root gitignore
	ignore = "! echo $1 >> .gitignore"
	# List files being gitignored
	ignored = ! git ls-files --others --ignored --exclude-standard --directory \
&& git ls-files --others -i --exclude-standard
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg-orig = log --graph --decorate --pretty=oneline --abbrev-commit
	subup = submodule update --init --recursive
	pushf = push --force-with-lease
	# Count number of commits this branch is ahead, wrt remote master
	count = rev-list --count HEAD ^origin/master
	countmain = rev-list --count HEAD ^origin/main
	# Interactive rebase for `count` number of commits.
	fixhist = !git rebase -i HEAD~$(git count)
	fixhistmain = !git rebase -i HEAD~$(git countmain)
	# A regular git pull will record a merge with upstream. Running git pull --rebase will rebase any local-only commits
	up = pull --rebase

[core]
	editor = vim
	# Pager setting - refer to https://github.com/so-fancy/diff-so-fancy
	pager = diff-so-fancy | less --tabs=4 -RFX
	# Global gitignore
	excludesfile = /home/abhi/.dotfiles/.gitignore_global

[rebase]
	autosquash = true

# Below color scheme is for diff-so-fancy
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	#meta = 11
  	#frag = white dim
  	meta = cyan bold
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

