[user]
	name = Abhinav
	email = abhiraja1012@gmail.com

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg-orig = log --graph --decorate --pretty=oneline --abbrev-commit
	subup = submodule update --init --recursive
	pushf = push --force-with-lease
	# Count number of commits this branch is ahead, wrt remote master
	count = rev-list --count HEAD ^origin/master
	# Interactive rebase for `count` number of commits.
	fixhist = !git rebase -i HEAD~$(git count)

[core]
	editor = vim
	# pager = diff-so-fancy | less --tabs=4 -RFX
	# https://github.com/so-fancy/diff-so-fancy

[rebase]
	autosquash = true
